---
---

@import "{{ site.theme }}";
body {
  background-color: #F5F5F5;
  font-family: Georgia, serif;
  font-size: 18px;
}

h1 { font-size: 25px; }

h2 { font-size: 23px; }

h3 { font-size: 25px; }

p { font-size: 20px; }

/* unvisited link */
a:link {
  color: #DAA520;
}

/* visited link */
a:visited {
  color: #B8860B;
}

/* mouse over link */
a:hover {
  color: #808000;
}

/* selected link */
a:active {
  color: #F5F5F5;
}
