---
---

@import "{{ site.theme }}";
body {
  background-color: #F5F5F5;
}

p { font-size: 20px; }

/* unvisited link */
a:link {
  color: #DAA520;
}

/* visited link */
a:visited {
  color: #B8860B;
}

/* mouse over link */
a:hover {
  color: #808000;
}

/* selected link */
a:active {
  color: #F5F5F5;
}
